h2 {
  margin: 0px 0px 5px 0px;
  color: #696969;
  font-weight: 500;
}
h3 {
  margin: 0px;
  color: #adadad;
  font-weight: 500;
  margin-left: 30px;
}
.line {
  display: flex;
  align-items: center;
}
.list {
  color: #adadad;
  margin: 5px;
  font-size: 14px;
  font-weight: 500;
  float: right;
}
.font {
  font-size: 20px;
}
.TextHead {
  font-size: 20px;
  color: #797979;
  transform: translateY(30%);
  margin: 0px;
  font-weight: 500;
}
.profile {
  display: flex;
}
.ImgProfile {
  width: 50px;
  height: 50px;
}
.text {
  margin: 0px 0px 5px 0px;
  color: #696969;
  font-weight: 500;
}
font {
  color: #797979;
  margin: 0px;
}
.t1 {
  color: #adadad;
}
.ProfileDT {
  display: block;
  float: left;
  margin: 10px 20px 10px 10px;
}
.ProfileContent {
  margin-left: 10px;
}
.BTadd {
  background: rgb(215, 132, 97);
  background: linear-gradient(
    45deg,
    rgba(215, 132, 97, 1) 0%,
    rgba(215, 169, 106, 1) 100%
  );
  color: #ffffff;
  border-radius: 20px;
  font-size: 13px;
  float: right;
  margin-top: 5px;
  --vs-button-padding: 5px 10px;
  font-family: kanit;
}
.BTadd1 {
background: rgb(106,204,181);
background: linear-gradient(45deg, rgba(106,204,181,1) 0%, rgba(84,193,211,1) 100%);
  color: #ffffff;
  border-radius: 20px;
  font-size: 12px;
  float: right;
  margin-top: 5px;
  --vs-button-padding: 5px 10px;
  font-family: kanit;
  margin-bottom: 10px;
}
.BT {
  background: rgb(215, 132, 97);
  background: linear-gradient(
    45deg,
    rgba(215, 132, 97, 1) 0%,
    rgba(215, 169, 106, 1) 100%
  );
  display: inline-block;
  color: #ffffff;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 5px;
  --vs-button-padding: 5px 10px;
  font-family: kanit;
}
.BT1 {
  background: rgb(197, 94, 94);
  background: linear-gradient(
    45deg,
    rgba(197, 94, 94, 1) 0%,
    rgba(248, 139, 109, 1) 100%
  );
  display: inline-block;
  color: #ffffff;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 5px;
  --vs-button-padding: 5px 10px;
  font-family: kanit;
}
.BT2 {
  background: rgb(94, 184, 204);
  background: linear-gradient(
    45deg,
    rgba(94, 184, 204, 1) 0%,
    rgba(68, 157, 222, 1) 100%
  );
  display: inline-block;
  color: #ffffff;
  border-radius: 20px;
  font-size: 12px;
  margin-top: 5px;
  --vs-button-padding: 5px 10px;
  font-family: kanit;
}
.BT3 {
background: rgb(157,209,103);
background: linear-gradient(45deg, rgba(157,209,103,1) 0%, rgba(99,209,157,1) 100%);
  display: inline-block;
  color: #ffffff;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 5px;
  --vs-button-padding: 5px 10px;
  font-family: kanit;
}
.CF1{
background: rgb(197,94,94);
background: linear-gradient(45deg, rgba(197,94,94,1) 0%, rgba(248,139,109,1) 100%);
display: inline-block;
color: #ffffff;
border-radius: 20px;
font-size: 13px;
font-weight: 500;
margin-bottom: 15px;
--vs-button-padding: 5px 20px;
}
.CF2{
background: rgb(130,140,146);
background: linear-gradient(45deg, rgba(130,140,146,1) 0%, rgba(106,106,106,1) 100%);
display: inline-block;
color: #ffffff;
border-radius: 20px;
font-size: 13px;
font-weight: 500;
margin-bottom: 15px;
--vs-button-padding: 5px 20px;
}
.InputSL {
  margin-top: -3px;
  margin-left: 10px;
  display: block;
}
button.vs-select__option {
  font-family: kanit;
  margin: 10px;
  padding: 0px;
  margin: 8px;
  width: 80% !important;
  color: #696969;
}
